.tree-view-container {
    min-height: 100vh;
    width: 350px;
    background: #008080;
    color: #bf8743;
}

.menu-item{
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    color: #bf8743;
}

.menu-list-container {
    list-style: none;
    margin-top: 0px;
    margin-bottom: 0px;
}
